.history {
  position: absolute;
  top: 70vh;
  left: 20vw;
  display: none;
  animation: zoomIn 1s;

  button {
    margin: 0 18vh;
    font-family: 'Luckiest Guy', serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 50px;
    border-style: none;
    background-color: #ffba02;
    color: white;
    width: 15vh;
    height: 8vh;
    filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));

    &:nth-child(even) {
      background-color: #fb5300;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      border: dashed 2px black;
    }
  }
}