@media screen and (min-width: 320px) and (max-width: 900px) {
  body {
    max-width: 100%;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

    .player-one {
      position: absolute;
      top: 0;
      left: 40vh;
    }

    .player-two {
      position: relative;
      top: 120vh;
      left: 40vh;
    }

    .ask-player, .ask-reset, .show-winner {
      position: absolute;
      top: 45vh;
      left: -35vh;
    }

    .container {
      position: relative;
      top: 0;
      left: -35vh;
    }

    .mute, .unmute {
      position: absolute;
      top: 0;
      left: 10px;
    }
  }
}