@media screen and (min-width: 320px) and (max-width: 900px) {
  body {
    max-width: 100%;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

    .player-one {
      position: absolute;
      top: 50rem;
      left: 2rem;
      width: 10rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      img {
        display: none;
      }
    }

    .player-two {
      position: absolute;
      top: 50rem;
      left: 14rem;
      width: 10rem;
      border-radius: 20px;

      img {
        display: none;
      }
    }

    .ask-player, .ask-reset, .show-winner {
      width: 90%;
      
      .welcome-text {
        width: 100%;
      }
    }

    .player-one-img, .player-two-img{
      margin: 0 2.5em;
    }

    .container {
      position: relative;
      top: 0;
      margin: 0 auto;
      width: auto;
      padding: 0;
    }

    .reset button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .mute, .unmute {
      position: absolute;
      top: 0;
      left: 10px;
    }

    #moveHistory, #moveHistoryX{
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;

    }
  }
}