@media screen and (min-width: 320px) and (max-width: 900px) {
  body {
    max-width: 100%;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

    .player-one {
      position: relative;
      top: 0;
      left: 30%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0;
    }

    .player-two {
      position: relative;
      top: 120vh;
      left: 30%;
      width: 50%;
      border-radius: 0;

    }

    .ask-player, .ask-reset, .show-winner {
      width: 90%;
      
      .welcome-text {
        width: 100%;
      }
    }

    .player-one-img, .player-two-img{
      margin: 0 2.5em;
    }

    .container {
      position: relative;
      top: 0;
      margin: 0 auto;
      width: auto;
    }

    .mute, .unmute {
      position: absolute;
      top: 0;
      left: 10px;
    }
  }
}