.mute {
  position: absolute;
  right: 15vh;
  bottom: 5vh;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.unmute {
  position: absolute;
  right: 15vh;
  bottom: 5vh;
  display: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}