.reset {
  text-align: center;
  position: absolute;
  left: 46.5vw;
  top: 70vh;
  translate: translate(-50%, -50%);

  button {
    background: rgb(137,173,221);
    background: linear-gradient(90deg, rgba(112, 142, 180, 0.85) 24%, rgb(139, 172, 147) 63%);
    color: white;
    border-radius: 30px;
    border-style: none;
    font-family: 'Finger Paint', cursive;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border: 2px solid white;

    &:hover {
      cursor: pointer;
      background: rgb(162,201,172);
      background: linear-gradient(90deg, rgb(137, 172, 146) 24%, rgb(118, 150, 190) 63%);
      transform: scale(1.1);
      border: 2px dashed white;
    }
  }
}