@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins:wght@400;500;900&display=swap');
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);}
  60% {
    transform: translateY(-25px);
  }
}

@keyframes fade {
  0%, 40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromTop {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-800px);}
  60% {
    transform: translateY(-25px);
  }
}

div {
  animation: fade 2s ease;
}

body {
  background-image: url(https://wallpaperbat.com/img/340120-forest-cartoon-wallpaper-top-free-forest-cartoon-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  .ask-player {
    position: absolute;
    text-align: center;
    background-color: white;
    width: 50vh;
    height: 30vh;
    border-radius: 50px;
    margin:17vh 61vh;
    animation: bounce 2s ease;
    animation-delay: 2s;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
    display: block;
    z-index: 1;

    h3 {
      font-family: 'Finger Paint', cursive;
      color: black;
      padding-top: 30px;
    }

    button {
      margin: 0 10px;
      font-family: 'Poppins', serif;
      font-weight: 500;
      font-size: 20px;
      border-radius: 50px;
      border-style: none;
      background-color: rgb(132, 177, 121);
      color: white;
      width: 15vh;
      height: 8vh;

      &:nth-child(even) {
        background-color: rgb(164, 196, 245);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo {
    position: fixed;
    bottom: 0px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.76);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 25vh;
    height: 80px;
    animation: fade 2s ease;

    .logo-text {
      font-family: 'Finger Paint', cursive;
      text-align: center;
      font-size: 18px;
      color: #17522D;
    }
  }

  .player-one {
    position: absolute;
    width: 180px;
    height: 230px;
    left: 10vh;
    top: 30vh;
    backdrop-filter: url(filters.svg#filter) blur(4px) brightness(80%);
    animation: fade 2s;
    border-radius: 45px;
    box-shadow: 0 0px 20px 0 black;
  }

  .player-two {
    position: absolute;
    width: 180px;
    height: 230px;
    right: 10vh;
    backdrop-filter: url(filters.svg#filter) blur(4px) brightness(60%);
    animation: fade 2s;
    border-radius: 45px;
    top: 30vh;
    box-shadow: 0 0px 20px 0 black;
  }

  .current-player, .current-player-two, .player-two-name, .player-one-name {
    text-align: center;
    font-family: 'Finger Paint', cursive;
    color: white;
    font-size: 15px;
  }

  .player-one-img, .player-two-img{
    padding-left: 50px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60vh;
    height: 60vh;
    margin: 15vh 55vh;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.692);
    backdrop-filter: url(filters.svg#filter) blur(4px) brightness(60%);

    .tile {
      box-shadow: 0 0px 20px 0 black;
      margin: 6px;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.438);
    }
  }
  .mute {
    position: absolute;
    right: 15vh;
    bottom: 5vh;

    &:hover {
      cursor: pointer;
    }
  }

  .unmute {
    position: absolute;
    right: 15vh;
    bottom: 5vh;
    display: none;

    &:hover {
      cursor: pointer;
    }
  }
}
