@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import 'keyframes';
@import 'popUpDivs';
@import 'gameInfo';
@import 'players';
@import 'tilesContainer';
@import 'muteBtn';
@import 'resetBtn';
@import 'historyBtns';
@import 'mediaQueries';

body {
  background-image: url(https://wallpaperbat.com/img/340120-forest-cartoon-wallpaper-top-free-forest-cartoon-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
